@using TouchTypingGo.Application.ViewModels
@model TouchTypingGo.Application.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Registrar novo Curso";
}

<h2>ViewData["Title"]</h2>

@*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />*@

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <h4>Preencha todos os dados Corretamente</h4>
            <hr />
            <vc:summary />

            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitDate" class="control-label"></label>
                <input asp-for="LimitDate" class="form-control" />
                <span asp-validation-for="LimitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher" class="control-label"></label>
                <div class="col-md-10">
                   @Html.Partial("_Professores")
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.pt-BR.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.pt.min.js"> </script>


<script>

    ValidationsCourse();

    

    function ValidationsCourse() {
        $('#LimitDate').datepicker({
            format: "dd/mm/yyyy",
            startDate: "tomorrow",
            language: "pt-BR",
            orientation: "bottom right",
            autoclose: true
        });
        console.log("Teste se está passando aqui");      
    }

   
</script>*@


    @{
        if (ViewBag.SuccessCreated != null) {

            var notification = ViewBag.SuccessCreated.ToString().Split(',');
           
            <script>

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr["@notification[0]"]("@notification[1]");


            </script>

        }
    }
   
}
