@{
    ViewData["Title"] = "Page Not Found";
}

<header class="jumbotron">
    <h2>Oops!</h2>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">The request page was not found.</p>
</header>
