@{
    ViewData["Title"] = "Internal Server Error";
}

<header class="jumbotron">
    <h2>Oops!</h2>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">There is a problem with the resource you are looking for, and it cannot be displayed.</p>
</header>
