@model TouchTypingGo.Application.ViewModels.InstitutionViewModel

<div class="panel panel-default">
    <div class="page-header">
        <strong>Endereço da Instituição</strong>
    </div>
   
        <table class="table">
            <tr>
                <th>
                    <a asp-action="AddAddress" asp-route-id="Model.Id" data-model="" class="btn btn-warning">
                        <span title="Edit"></span> Add Address
                    </a>
                </th>
            </tr>
        </table>
</div>